//
// Variables
// --------------------------------------------------

//== Site Title
$site-title = 'Erick Bogarin'
$site-title-small = '</> EB'

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

//** Unit-less `line-height` for use in components like buttons.
$line-height-base =              1.428571429 // 20/14

// Links
//
// Style anchor elements.

$link-decoration =              none
$link-hover-decoration =        underline

//== Grid system
//
//## Responsive grid.

//== Rupture setup
//## A few variables are exposed by rupture that can be customized
//** Slice media queries with no effort
rupture.scale =                 0 400px 600px 800px 1050px 1800px
//** A list of strings that correspond to their index location in rupture.scale
rupture.scale-names =           'xs' 's' 'm' 'l' 'xl' 'hd'

//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width =            30px

//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.
// Small screen / mobile
$container-xs =                 400px
// Medium screen / tablet
$container-sm =                 600px

// Medium screen / desktop
$container-md =                 800px
// Large screen / wide desktop
$container-lg =                 1170px
// Huge screen / hd
$container-hd =                 1800px


//== Spacing
//
//## Control the default styling of most elements.
//

$spacer =   1rem
$spacers = {
  '0': 0,
  '1': $spacer,
  '2': $spacer * 1.5,
  '3': $spacer * 3,
  '4': $spacer * 3.5
}
