
//
// Colors
// --------------------------------------------------

$white =                         #fff
$black =                         #000
$red =                           #d9534f
$orange =                        #f0ad4e
$yellow =                        #ffd500
$green =                         #5cb85c
$blue =                          #0275d8
$teal =                          #5bc0de
$pink =                          #ff5b77
$purple =                        #613d7c

$light-red =                     #ff6347
$light-yellow =                  #f7f7f2
$dark-blue =                     #3e474f

// Create grayscale
$gray-dark =                     #292b2c
$gray-very-dark =                #333
$gray =                          #4B5658
$gray-light =                    #F4F7F6
$gray-lighter =                  #eceeef
$gray-lightest =                 #f7f7f9
$gray-light-blue =               #edeff0


// Body
//
// Settings for the `<body>` element.

$body-bg =                      $gray-light
$body-color =                   $gray-dark
$inverse-bg =                   $gray-dark
$inverse-color =                $gray-lighter

// Links
//
// Style anchor elements.

$link-color =                   $blue
$link-hover-color =             darken($blue, 15%)

// Titles
$title-color =                  $gray

// Logos
$logo-carrear-color =           #009BDD
$logo-lab-color =               #9D60B8
$logo-blog-color =              #4DBA7A

// Menu Background
$menu-background =              #191918
$menu-color =                   #9E9E9E
