//
// Icons
// --------------------------------------------------

.icon
  fill $gray
  size(45, 45)

  &.close
    fill $gray-lighter
    transition .2s fill

    &:hover
      fill $white

.icon-menu, .icon-search
  cursor pointer

.icon-menu
  transition .4s ease

.icon-menu.is-visible
  fill white
  position relative
  z-index 50

.fa-icon
  size(50, 30)

.fa-2x
  size(80, 65)
