//
// @object lists
//

// General style for lists
.list-group
  padding 0

  > .item
    list-style none

// List item witch have a link inside
.nav-item

  > .link
    font-weight 800

    letter-spacing rem(2px)
    padding rem(10px) 0

    +above('l')
      padding rem(15px) 0
