
//
// Panels
// --------------------------------------------------
.site-panel {
  background-color: $white;
  box-shadow: 0 2px 0 rgba(0,0,0,0.1);
  border-radius: 4px;
  padding: rem(30px) rem(30px) rem(5px) rem(30px);
  margin-top: rem(40px);

  &:last-child {
    margin-bottom: rem(40px);
  }
}
