//
// Icons
// --------------------------------------------------

.icon
  fill $gray
  size(45, 45)

  &.close
    fill $gray-lighter
    transition .2s fill

    &:hover
      fill $white

.icon-menu, .icon-search
  cursor pointer

.fa-icon
  fill $gray
  size(50, 30)

.fa-2x
  size(80, 65)
